<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toboolist</title>
    <!-- Vue.js script -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Custom style -->
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <!-- Header -->
        <div class="header">
          <img src="./img/logo.png" alt="Toboolist logo" />
        </div>
        <!-- /Header -->

        <!-- Main -->

        <!-- Search Box -->
        <div class="container mt-30">
          <div class="search-box">
            <input
              class="text"
              type="text"
              placeholder="es: Fare la spesa..."
            />
            <button class="search-button">Add Task</button>
          </div>
          <!-- /Search Box -->

          <!-- Tasks -->
          <div class="tasks-list">
            <ol>
              <li>
                &#10148; TASK PRECEDENTI
                <ul v-for="curItem in tasksPrev">
                  <li>
                    <div :class="curItem.done ? 'check' : 'cross'">
                      {{curItem.done ? '&check;' : '&cross;'}}
                    </div>
                    <div class="box"
                    :class="curItem.done ? 'barred' : ''">
                      <span>{{ curItem.text }}</span>
                      <span
                        class="label"
                        :class="curItem.label.toLowerCase(), {'barred': curItem.done}"
                        >{{curItem.label}}</span
                      >
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                &#10148; OGGI
                <ul v-for="curItem in tasksToday">
                  <li>
                    <div :class="curItem.done ? 'check' : 'cross'">
                      {{curItem.done ? '&check;' : '&cross;'}}
                    </div>
                    <div class="box" 
                    :class="curItem.done ? 'barred' : ''">
                      <span>{{ curItem.text }}</span>
                      <span
                        class="label"
                        :class="curItem.label.toLowerCase(), {'barred': curItem.done}"
                        >{{curItem.label}}</span
                      >
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                &#10148; PROSSIMI GIORNI
                <ul v-for="curItem in tasksNext">
                  <li>
                    <div :class="curItem.done ? 'check' : 'cross'">
                      {{curItem.done ? '&check;' : '&cross;'}}
                    </div>
                    <div class="box" 
                    :class="curItem.done ? 'barred' : ''">
                      <span>{{ curItem.text }}</span>
                      <span
                        class="label"
                        :class="curItem.label.toLowerCase(), {'barred': curItem.done}"
                        >{{curItem.label}}</span
                      >
                    </div>
                  </li>
                </ul>
              </li>
            </ol>
          </div>
          <!-- /Tasks -->
        </div>
        <!-- /Main -->
      </div>

      <!-- Add box -->
      <div class="container mt-30">
        <div class="add-box">
          <input
            class="text"
            type="text"
            id="text"
            v-model="newItem.text"
          />
          <select name="label" id="label" class="choice" v-model="newItem.label">
            <option value="Editorial" selected>Editorial</option>
            <option value="Q1-Goals">Q1-Goals</option>
            <option value="Recruiting">Recruiting</option>
            <option value="Mobile">Mobile</option>
            <option value="Website">Website</option>
            <option value="Sales">Sales</option>
          </select>
          <button class="add-button" @click="addItem">Add Task</button>
        </div>
        <!-- /Add box -->

      <!-- Footer -->
      <footer class="mt-30">
        <span>&copy; 2024 Boolean Careers</span>
      </footer>
      <!-- Footer -->
    </div>
  </body>
  <!-- Custom script -->
  <script src="./js/script.js"></script>
</html>
